<html>
  <body>
    <form action="depositUpdate" method="POST">
      <table>
        <tr>
          <td style="padding-right: 20px;">成員</td>
          <td>
            {{ if .id }}
            <input type="hidden" name="id" value="{{.id}}" />
            {{ end }}
            <select name="memberId" required="true">
              <option value="">選擇人員</option>
              {{ range .members }}
              <option value="{{ .Id }}" {{ if eq .Id $.deposit.MemberId }}selected="selected" {{ end }}>{{ .Name }}</option>
              {{ end }}
            </select>
          </td>
        </tr>
        <tr>
          <td>銀行</td>
          <td>
            <select name="bankId" required="true">
              <option value="">選擇銀行</option>
            {{ range .banks }}
              <option value="{{ .Id }}"{{ if eq .Id $.deposit.BankId }}selected="selected" {{ end }}>{{ .Name }}</option>
            {{ end }}
            </select>
          </td>
        </tr>
        <tr>
          <td>種類</td>
          <td>
          {{ range .depositTypes }}
            <input type="radio" name="typeCode" value="{{ .Code }}" required="required"
              {{ if eq .Code $.deposit.TypeCode }}checked="checked" {{ end }} />
            {{.Name}} &nbsp;&nbsp;
          {{ end }}
          </td>
        </tr>
        <tr>
          <td>金額</td>
          <td>
            <input type="number" name="amount" step="0.01" value="{{.deposit.AmountString}}" />
          </td>
        </tr>
        <tr>
          <td>幣別</td>
          <td>
          {{ range .coinTypes }}
          <input type="radio" name="coinTypeCode" value="{{ .Code }}" required="required" 
            {{ if eq .Code $.deposit.CoinTypeCode}} checked="checked" {{ end }} />
            {{.Name}} &nbsp;&nbsp;
          {{ end }}
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="padding-top: 5px;padding-left: 10px;">
            <input type="submit" value="送出" />
            &nbsp;
            <input type="reset" value="重設" />
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
