<html>
  <head>
    <script>
      function changeMember(memberId) {
        location.href = `/depositList?memberId=${memberId}`;
      }
    </script>
  </head>
  <body>
    <a href="/">所有人</a>
    <hr />
    <a target="_new" href="/depositEdit?memberId={{.memberId}}">新增</a>
    <hr />
    <select onchange="changeMember(this.value);">
      {{ range .members }}
      <option value="{{ .Id }}" {{ if eq .Id $.memberId }}selected="selected" {{ end }}>{{ .Name }}</option>
      {{ end }}
    </select>
    所有存單:
    共 {{.count}} 筆,    總金額 {{.totalTWD}}
    <table border="1" width="100%">
      <tr style="background-color:cyan;font-weight:bold;">
        <td>銀行</td>
        <td>種類</td>
        <td>金額</td>
        <td>幣別</td>
        <td>折合台幣</td>
        <td>建立時間</td>
        <td>建立時匯率</td>
        <td>現在匯率</td>
        <td>指令</td>
      </tr>
    {{range .deposits}}
      <tr>
        <td>
          {{.Bank.Name}}
        </td>
        <td>
          {{.Type.Name}}
        </td>
        <td>
          {{.AmountString}}
        </td>
        <td>
          {{.CoinType.Name}}
        </td>
        <td>
          {{.TwAmountString}}
        </td>
        <td>
          {{.CreatedTimeString}}
        </td>
        <td>
          {{.ExRateWhenCreated}}
        </td>
        <td>
          {{.CoinType.ExRate}}
        </td>
        <td>
          <a href="depositEdit?id={{.Id}}" target="_new">修改</a>
          &nbsp;&nbsp;
          <a href="depositDelete?id={{.Id}}&memberId={{$.member.Id}}">刪除</a>
        </td>
      </tr>
    {{end}}
    </table>
  </body>
</html>
