<html>
  <body>
    <a href="/accountList">帳號維護</a>
    <hr />
    <a href="/depositList">存單維護</a> ({{.allTotalTWDString}})
    <ul>
    {{range .members}}
      <li>
        <a href="/depositList?memberId={{.Id}}">{{.Name}}</a>
        ({{.AllTotalTWDString}})
      </li>
    {{end}}
    </ul>
    <hr />
    <a href="/timeDepositList">定存瀏覽</a> ({{.timeTotalTWDString}})
    <ul>
    {{range .members}}
      <li>
        <a href="/timeDepositList?memberId={{.Id}}">{{.Name}}</a>
        ({{.TimeTotalTWDString}})
      </li>
    {{end}}
    </ul>
  </body>
</html>
