<html>
  <head>
  </head>
  <body>
    <a href="/">首頁</a>
    <hr />
    <form action="/timeDepositList" method="GET">
      <table width="100%">
        <tr>
          <td>
            人員:
            <select name="memberId" onchange="this.form.submit();">
              <option value="0">請選擇</option>
              {{ range .members }}
              <option value="{{ .Id }}" {{ if eq .Id $.form.MemberId }}selected="selected" {{ end }}>{{ .Name }}</option>
              {{ end }}
            </select>
          </td>
          <td>
            銀行:
            <select name="bankId" onchange="this.form.submit();">
              <option value="0">請選擇</option>
              {{ range .banks }}
              <option value="{{ .Id }}" {{ if eq .Id $.form.BankId }}selected="selected" {{ end }}>{{ .Name }}</option>
              {{ end }}
            </select>
          </td>
          <td>
            幣別:
            <select name="coinTypeCode" onchange="this.form.submit();">
              <option value="">請選擇</option>
              {{ range .coinTypes }}
              <option value="{{ .Code }}" {{ if eq .Code $.form.CoinTypeCode }}selected="selected" {{ end }}>{{ .Name }}</option>
              {{ end }}
            </select>
          </td>
          <td>
            <input type="button" onclick="location.href='/timeDepositList';" value="查詢全部" />
          </td>
        </tr>
      </table>
    </form>
    <br />
    共 {{.count}} 筆,    總金額 {{.totalTWD}},  總年收入 {{.totalYearIncome}}
    <table border="1" width="100%">
      <tr style="background-color:cyan;font-weight:bold;">
        <td>人員</td>
        <td>銀行</td>
        <td>金額</td>
        <td>幣別</td>
        <td>開始日期</td>
        <td>月數</td>
        <td>結束日期</td>
        <td>年利率</td>
        <td>類型</td>
        <td>自動轉存</td>
        <td>年收入</td>
      </tr>
    {{range .tds}}
      <tr>
        <td>
          {{.Member.Name}}
        </td>
        <td>
          {{.Bank.Name}}
        </td>
        <td>
          {{.AmountString}}
        </td>
        <td>
          {{.CoinType.Name}}
        </td>
        <td>
          {{.StartDateString}}
        </td>
        <td>
          {{.DurationString}}
        </td>
        <td>
          {{.EndDateString}}
        </td>
        <td>
          {{.InterestRatePercentString}} %
        </td>
        <td>
          {{.RateTypeString}}
        </td>
        <td>
          {{.AutoSaveNewString}}
        </td>
        <td>
          {{.EspectedYearIncomeString}}
        </td>
      </tr>
    {{end}}
    </table>
  </body>
</html>
